@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
}
nav {
  overflow: scroll;
  position: fixed;
  border-right: 3px solid rgba(0, 22, 22, 0.4);
  height: 100vh;
  width: 300px;
  flex-shrink: 0;
}
nav h1 {
  white-space: nowrap;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 10px 0 10px 30px;
  border-top: 1px solid #4d4e53;
  color: #4d4e53;
  text-decoration: none;


}

main {
  margin-left: 350px;
}
